$color-white: #FFFFFF;
$color-gray01: #F5F5F5;
$color-gray02: #E2E2E2;
$color-gray03: #BDBDBD;
$color-gray04: #919191;
$color-gray05: #696969;
$color-black: #222222;
$color-blue: #2E82FF;
$color-main-red: #FF5831;
$color-error-re: #E72C00;